* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.item1 {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/23852.jpg);
}
.item2 {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/23847.jpg);
}
.item3 {
  background-attachment: fixed;
  background-image: url(https://wallpapershome.com/images/pages/pic_h/475.jpg);
}
.item4 {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/23723.jpg);
}
.item5 {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/23326.jpg);
}
